<!-- your html code here -->
<div class="Contactenos">
    <div class="txtcontactenos">
        <h1>Contáctenos</h1>
        <p> Si deseas más información o tienes alguna duda, por favor ingresa tu correo electrónico y tu requerimiento y te respondermos lo antes posible. Estamos encantados de ayudarte.</p>
    </div>
    <div class="FormContactenos">
        <form>
            <div class="row">
                <label for="exampleFormControlInput1" class="col-sm-3 col-form-label text-end fw-bold">Tu email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
            </div>
            <div class="row">
                <label for="exampleFormControlInput1" class="col-sm-3 col-form-label text-end fw-bold">Tu Mensaje</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Ingresa tu mensaje aquí. Máximo 100 palabras.""></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-3 text-end">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>