<!-- your html code here -->
<!-- your html code here -->
<div class="container-fluid bg-white">
  <div class="container bg-white mt-2">
    <div class="row">
      <h2 class="mt-2">Portafolio</h2>
      <span class="fw-bold">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
        possimus exercitationem quidem rem neque nam tenetur autem tempore
        accusamus laborum. Dolorem magni eligendi nam aspernatur exercitationem!
        Doloribus voluptas corrupti expedita?
      </span>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 bg-white mb-5 mt-3">
      <div class="col">
        <div class="card border-0">
          <img
            src="./assets/img/big-project-image.png"
            class="card-img-top"
            alt="Medidas 700x500"
          />
          <div class="card-body ps-0">
            <h5 class="card-title text-primary">Project Name</h5>
            <small class="card-text fw-bold fs-6">
              Lorem ipsum dolor sit amet consectetur a  more adipisicing elit. Molestiae
              blanditiis dolores exercitationem minima.
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <img
            src="./assets/img/big-project-image.png"
            class="card-img-top"
            alt="Medidas 700x500"
          />
          <div class="card-body ps-2">
            <h5 class="card-title text-primary">Project Name</h5>
            <small class="card-text fw-bold fs-6">
              Lorem ipsum dolor sit amet consectetur a  more adipisicing elit. Molestiae
              blanditiis dolores exercitationem minima.
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <img
            src="./assets/img/big-project-image.png"
            class="card-img-top"
            alt="Medidas 700x500"
          />
          <div class="card-body ps-2">
            <h5 class="card-title text-primary">Project Name</h5>
            <small class="card-text fw-bold fs-6">
              Lorem ipsum dolor sit amet consectetur a  more adipisicing elit. Molestiae
              blanditiis dolores exercitationem minima.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
